<!DOCTYPE html>
<html>

<head>
  <title>Catalyst</title>
  <script src="./functions.js"></script>
  <script src="./listeners.js" defer></script>
  <script src="./tabs.js" defer></script>
  <script src="./bookmarks.js" defer></script>
  <script src="./loader.js" defer></script>
  <script src="./search.js" defer></script>
  <script src="./preferences.js" defer></script>
  <script src="./env.js" defer></script>
  <link rel="stylesheet" type="text/css" href="../output/tailwind.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="min-w-full min-h-screen dark:bg-gray-700 bg-white overflow-hidden">
  <!-- Tab bar -->
  <div class="flex items-center px-4 py-2 mt-2 bg-white dark:bg-gray-700">
    <div id="tabs-bar" class="flex items-center flex-1 space-x-2 overflow-auto no-scrollbar">
      <!-- tabs are inserted with JS -->
    </div>
    <div class="inline-flex px-1">
      <button id="create-tab" onclick="createTab()"
        class="rounded-l text-center p-2 bg-red-300 hover:bg-red-400 transition"><img src="../assets/icons/plus.svg"
          alt="Create tab"></button>
      <button id="remove-tab" onclick="removeTab()"
        class="text-center p-2 bg-green-300 hover:bg-green-400 transition"><img src="../assets/icons/x.svg"
          alt="Remove tab"></button>
      <button id="remove-tab" onclick="bookmarkCurrentTab()"
        class="text-center p-2 bg-blue-300 hover:bg-blue-400 transition rounded-r"><img src="../assets/icons/star.svg"
          width="12" alt="Bookmark tab"></button>
    </div>
  </div>
  <!-- Utility bar -->
  <div class="w-full min-h-3 p-2 flex justify-center pt-0.5 dark:text-gray-900 bg-white dark:bg-gray-700">
    <button id="back" onclick="backward()"
      class="text-center p-2 bg-blue-300 hover:bg-blue-400 rounded-l transition"><img
        src="../assets/icons/arrow-left.svg" alt="Backward"></button>
    <button id="forward" onclick="forward()" class="text-center p-2 bg-green-300 hover:bg-green-400 transition"><img
        src="../assets/icons/arrow-right.svg" alt="Forward"></button>
    <input id="searchbar" type="text" style="width: 90%" class="min-w-fit bg-gray-100 dark:text-gray-900 p-2"
      placeholder="Browse the Web" />
    <button id="reload" onclick="reload()" class="text-center p-2 bg-red-300 hover:bg-red-400 transition"><img
        src="../assets/icons/arrow-clockwise.svg" alt="Reload"></button>
    <button id="more-btn" class="text-center p-2 bg-blue-300 hover:bg-blue-400 transition rounded-r"><img
        src="../assets/icons/three-dots-vertical.svg" alt="More menu"></button>
  </div>
  <!-- More menu -->
  <div id="more-menu"
    class="absolute bg-gray-100 dark:bg-gray-300 text-gray-900 p-3 mt-2 w-72 float-right hidden right-1 rounded">
    <ul class="justify-center align-middle flex-wrap max-w-sm">
      <li class="cursor-pointer" onclick="togglePreferences()">
        <img src="../assets/icons/gear-fill.svg" class="inline-flex mb-1 px-2" alt="Settings">Preferences
      </li>
      <hr class="dark:border-gray-900 mt-2 mb-2">
      <li class="cursor-pointer" onclick="inspectTab()">
        <img src="../assets/icons/code.svg" class="inline-flex mb-1 px-2" alt="Tools">Inspect tab
      </li>
      <li onClick="openFeedback()" class="cursor-pointer">
        <img src="../assets/icons/bug.svg" class="inline-flex mb-1 px-2"
          alt="this image has not loaded properly">Feedback
      </li>
      <li onClick="openGithub()" class="cursor-pointer">
        <img src="../assets/icons/github.svg" class="inline-flex mb-1 px-2"
          alt="this image has not loaded properly">Development
      </li>
      <!-- Add more menu items here by copying this: -->
      <!-- <li class="cursor-pointer">
        <img
        src="path/to/icon" class="inline-flex mb-1 px-2" alt="Short image description">My menu item
      </li> -->
    </ul>
  </div>
  <!-- Bookmarks -->
  <div id="bookmarks" class="flex px-4 mb-2 bg-white dark:bg-gray-700">
    <!-- bookmarks inserted with JS -->
  </div>
  <!-- Preferences -->
  <div id="preferences-box"
    class="shadow-md bg-gray-200 dark:bg-gray-800 p-2 w-[40%] hidden h-full max-h-screen absolute text-gray-900 dark:text-gray-50 !overflow-scroll">
    <h1 class="font-bold text-xl">Preferences</h1>
    <label for="pref-darkmode">Dark Mode? </label>
    <input id="pref-darkmode" type="checkbox" class="" />
    <p class="text-sm">If Catalyst should use Dark Mode.</p>
    <br />
    <label for="pref-useragent">User Agent: </label>
    <input id="pref-useragent" type="text" class="dark:text-gray-800 p-1 rounded" placeholder="Catalyst/{{version}}"
      value="Catalyst/{{version}}" />
    <p class="text-sm">If you leave it empty, it will default to the usual user agent by Electron, which may include
      your device information. You can add
      {{version}} which will be replaced by the current Catalyst version. <b>Note: You may need to make a new tab after
        changing this for it to apply.</b></p>
    <br />
    <label for="pref-autocomplete">DuckDuckGo Autocomplete? </label>
    <input id="pref-autocomplete" type="checkbox" class="" />
    <p class="text-sm">If Catalyst should automatically suggest autocompletions for your searches with DuckDuckGo.</p>
    <br />
    <label for="pref-bookmarks">Bookmarks? </label>
    <input id="pref-bookmarks" type="checkbox" class="" />
    <p class="text-sm">If Catalyst should display the bookmarks bar.</p>
    <br />
    <span id="verstring">Catalyst {{version}}</span>
    <br />
    <p> Current Patch </p> <span id="current-security-patch">Security Patch </span>
    <br />
    <p> Patch ID </p> <span id="current-security-patch-id">Security Patch ID: </span>
    <br />
    <button onclick="clearData()"
      class="text-center p-2 bg-red-500 hover:bg-red-600 transition rounded dark:text-gray-800">
      Clear Data</button>
    <button onclick="togglePreferences()"
      class="text-center p-2 bg-blue-300 hover:bg-blue-400 transition rounded dark:text-gray-800">Close
      Preferences</button>
  </div>
  <!-- Suggestions -->
  <div class="suggestions-box" id="autocomplete-suggestions">
    <!-- suggestions made with js -->
  </div>
  <!-- Webviews generated with JS -->
  <div id="webviews"></div>
</body>

</html>
